<div class="alert alert-danger" *ngIf="errorMessage">
  <h5 class="card-title text-center">{{errorMessage}}</h5>
</div>
<div class="list-group list-group-flush mb-4" role="tablist" >
  <mat-selection-list [(ngModel)]="selectedList">
    <mat-list-option *ngFor="let table of this.tableList" [value]="table">{{table.description}} Veličina: {{table.size}}</mat-list-option>
  </mat-selection-list>
</div>
<button class="btn btn-primary " type="button" [disabled]="selectedList.length === 0" (click)="confirmSelected()">Potvrdite</button>
