<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  window.onload = function () {
    if (window.jQuery) {
      // jQuery is loaded  
      alert("Yeah!");
    } else {
      location.reload();
    }
  }
  function toggle(sifra) {
    var x = document.getElementById(sifra);
    if (typeof proslaSifra === 'undefined') {
      proslaSifra = sifra;
    } else if (proslaSifra !== sifra) {
      var y = document.getElementsById(proslaSifra);
      for (var i = 0; i < y.length; i++) {
        y[i].style.display = "none";
      }
      proslaSifra = sifra;
    }
    x.addClass('active');
  }
</script>

<div class="row pl-2" style="margin: auto">
  <div class="col-sm-3" *ngIf="userService.isClubOwner()">
    <h2>
      Dobrodošli {{userService.getLoggedUser().username}}!
    </h2>
    <br>
    <div class="list-group-item-heading">
      Popis događaja:
    </div>
    <br>
    <div class="list-group list-group-flush mb-4" role="tablist">
      <button class="list-group-item list-group-item-action" (click)="onSelectEvent(event)"
        *ngFor="let event of this.eventList" [value]="event">{{event.name}}</button>
    </div>
    <button *ngIf="userService.isClubOwner()" type="button" class="btn btn-primary" (click)="addNewEventButton()">Dodaj
      novi događaj</button>
  </div>
  <div class="col-sm-3">
    <div *ngIf="!userService.isClubOwner()">
      <h2>
        Dobrodošli {{userService.getLoggedUser().username}}!
      </h2>
      <br>
      <div class="list-group-item-heading">
        Izaberite lokaciju koja vas zanima:
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Lokacije
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" [value]="location" (click)="onClick(location)"
            *ngFor="let location of clubLocations">{{location}}</button>
        </div>
      </div>
      <br>
      <p>Trenutno odabrana lokacija: {{currentLocation}}</p>
      <div class="list-group list-group-flush mb-4" role="tablist">
        <button class="list-group-item list-group-item-action" style="display: block"
          (click)="onSelectClub(club.clubId) && toggle(club)" *ngFor="let club of this.currentClubs" id="club.clubId"
          [value]="club">{{club.name}}</button>
      </div>
    </div>
  </div>
  <div>
    <div>
    </div>
    <br>
    <br>
    <div class="list-group list-group-flush mb-4" role="tablist">
      <button class="list-group-item list-group-item-action" (click)="onSelectEvent(event)"
        *ngFor="let event of this.currentEvents" [value]="event">{{event.name}}</button>
    </div>
  </div>
  <div class="col-sm-6">
    <app-event-content></app-event-content>
  </div>
</div>