<div *ngIf="showForm">
  <div>
    <h3>Stol: {{currentClubTable.name}}</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="createForm">
      <div>
        <label class="right-margin">Veličina stola:&nbsp;</label>
        <input [(ngModel)]="currentClubTable.size" class="form-control" formControlName="size" required>
      </div>
      <div>
        <label class="right-margin">Opis:&nbsp;</label>
        <input [(ngModel)]="currentClubTable.description" class="form-control" formControlName="description" required>
      </div>
    </form>
    <div *ngIf="!isItCreate">
      <button class="btn btn-primary mr-1" [disabled]="!createForm.valid" (click)="onUpdateClubTable()">Spremi</button>
      <button class="btn btn-danger" (click)="onDeleteClubTable()">Izbriši</button>
    </div>
    <div *ngIf="isItCreate">
      <button class="btn btn-primary" [disabled]="!createForm.valid" (click)="onCreateClubTable()">Kreiraj</button>
    </div>
  </div>
</div>