<div *ngIf="showForm">
  <div>
    <h3>Događaj: {{currentEvent.name}}</h3>
  </div>
  <div class="card-body" *ngIf="userService.isClubOwner()">
    <form [formGroup]="createForm">
      <div>
        <label class="right-margin">Naziv:&nbsp; </label>
        <input [(ngModel)]="currentEvent.name" class="form-control" formControlName="name" required>
      </div>
      <div>
        <label class="right-margin">Vrijeme održavanja:&nbsp;</label>
        <input [(ngModel)]="currentEvent.date" placeholder="YYYY-MM-DD@HH:MM:SS"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}@[0-9]{2}:[0-9]{2}:[0-9]{2}" type="datetime" class="form-control"
          formControlName="date" required>
      </div>
      <div>
        <label class="right-margin">Opis:&nbsp;</label>
        <input [(ngModel)]="currentEvent.description" class="form-control" formControlName="description" required>
      </div>
    </form>
    <div *ngIf="!isItCreate">
      <button class="btn btn-primary mr-1" [disabled]="!createForm.valid" (click)="onUpdateEvent()">Spremi</button>
      <button class="btn btn-danger" value="currentEvent" (click)="onDeleteEvent()">Izbriši</button>
    </div>
    <div *ngIf="isItCreate">
      <button class="btn btn-primary" [disabled]="!createForm.valid" (click)="onCreateEvent()">Kreiraj</button>
    </div>
    <div *ngIf="!isItCreate">
      <label class="right-margin">Popis rezervacija:&nbsp;</label>
      <div class="list-group list-group-flush" role="tablist">
        <label class="list-group-item list-group-item-action"
          *ngFor="let reservation of this.reservationList">{{reservation.reservationId}} ID stola:
          {{reservation.tableId}} ID događaja: {{reservation.eventId}}</label>
      </div>
    </div>
  </div>

  <div class="card-body mb-4" *ngIf="!userService.isClubOwner()">
    <form [formGroup]="createForm">
      <div>
        <label class="right-margin">Naziv:&nbsp; </label>
        <h3>{{currentEvent.name}}</h3>
      </div>
      <div>
        <label class="right-margin">Vrijeme održavanja:&nbsp;</label>
        <h3>{{currentEvent.date}}</h3>
      </div>
      <div>
        <label class="right-margin">Opis:&nbsp;</label>
        <h3>{{currentEvent.description}}</h3>
      </div>
    </form>
    <div>
      <button class="btn btn-primary mr-1" (click)="toggleReserve()">Rezerviraj</button>
    </div>
    <div *ngIf="reserveClicked">
      <app-reserve-event [currentEvent]="currentEvent"></app-reserve-event>
    </div>

  </div>
</div>