<div class="row pl-2 bg-light" style="margin: auto">
  <div class="col-sm-3">
    <br>
    <div class="list-group-item-heading">
      Popis stolova:
    </div>
    <br>
    <div class="list-group list-group-flush" role="tablist" >
      <button class="list-group-item list-group-item-action" (click)="onSelectClubTable(table.clubTableId)"
        *ngFor="let table of this.tableList" [value]="table.clubTableId">{{table.clubTableId}} veličina: {{table.size}} opis: {{table.description}}</button>
    </div>
    <button type="button" class="btn btn-primary" (click)="addNewClubTableButton()">Dodaj novi stol</button>
  </div>
  <div class="col-sm-9">
    <div></div>
    <app-club-table-content></app-club-table-content>
  </div>
</div>