<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="text-light" routerLink="/naslovna">Rezervator</span>

  <span class="example-fill-remaining-space"></span>
  <button type="button" class="text-light btn-dark btn-outline-dark" *ngIf="userService.isUserLoggedIn()" routerLink="/naslovna">Naslovna</button>
  <button type="button" class="text-light btn-dark btn-outline-dark" *ngIf="userService.isUserLoggedIn()" routerLink="/profil">Profil</button>
  <button type="button" class="text-light btn-dark btn-outline-dark" *ngIf="userService.isUserLoggedIn() && userService.isClubOwner()" routerLink="/stolovi">Stolovi</button>
  <button type="button" class="text-light btn-dark btn-outline-dark" *ngIf="userService.isUserLoggedIn() && !userService.isClubOwner()" routerLink="/dodajKlub">Dodaj klub</button>
  <button type="button" class="text-light btn-dark btn-outline-dark" *ngIf="userService.isUserLoggedIn()" (click)="userService.logout()" routerLink="/naslovna">Odjava</button>
</nav>
