<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="alert alert-danger" *ngIf="errorMessage">
          <h5 class="card-title text-center">{{errorMessage}}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Registracija</h5>
          <form class="form-signin" [formGroup]='userForm' (ngSubmit)="register()">
            <div class="form-label-group">
              <div class="form-label-group">
                <label for="inputFirstName">Ime - obavezno</label>
                <input type="text" id="inputFirstName" class="form-control" placeholder="Ime"
                  formControlName="firstName" required>
              </div>
              <div class="form-label-group">
                <label for="inputLastName">Prezime - obavezno</label>
                <input type="text" id="inputLastName" class="form-control" placeholder="Prezime"
                  formControlName="lastName" required>
              </div>
              <label for="inputUserName">Korisničko ime - obavezno</label>
              <input type="text" id="inputUserName" class="form-control" placeholder="Korisničko ime"
                formControlName="username" required autofocus>
            </div>
            <div class="form-label-group">
              <label for="inputEmail">E-mail - obavezno</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" formControlName="email"
                required>
            </div>
            <div class="form-label-group">
              <label for="inputBirth">Datum rođenja</label>
              <input type="date" id="inputBirth" class="form-control" formControlName="dateOfBirth" required>
            </div>
            <div class="form-label-group mb-4">
              <label for="inputPassword">Lozinka - najmanje 5 znakova</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Lozinka"
                formControlName="password" required minlength="5">
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
              [disabled]="!userForm.valid">Registracija</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>