<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Vaš profil</h5>
          <div class="form-label-group">
            <label for="inputUserName">Korisničko ime</label>
            <h3>{{user?.username}}</h3>
          </div>
          <div class="form-label-group mb-4">
            <label for="inputEmail">E-mail - obavezno</label>
            <h3>{{user?.email}}</h3>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/naslovna">Povratak</button>
        </div>
      </div>
    </div>
  </div>
</div>