<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <h5 class="card-title text-center">{{errorMessage}}</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Prijavi se</h5>
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-label-group">
          <label for="inputEmail">Korisničko ime</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Unesite korisničko ime"
            formControlName="email" required autofocus>
        </div>
        <div class="form-label-group mb-4">
          <label for="inputPassword">Lozinka</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Unesite lozinku"
            formControlName="password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()" type="submit"
          [disabled]="!loginForm.valid">Prijava</button>
        <hr>
        <button class="btn btn-block" routerLink="../register"> Nemaš račun? Registriraj se!</button>
      </form>
    </div>
  </div>
</div>
