<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="alert alert-danger" *ngIf="errorMessage">
          <h5 class="card-title text-center">{{errorMessage}}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Registracija poslovnog prostora</h5>
          <form class="form-signin" [formGroup]='clubForm' (ngSubmit)="registerClub()">
            <div class="form-label-group">
              <div class="form-label-group">
                <label for="inputClubName">Ime poslovnog prostora - obavezno</label>
                <input type="text" id="inputClubName" class="form-control" placeholder="Ime prostora"
                  formControlName="name" required>
              </div>
              <div class="form-label-group">
                <label for="inputLocation">Adresa - obavezno</label>
                <input type="text" id="inputLocation" class="form-control" placeholder="Lokacija"
                  formControlName="location" required>
              </div>
              <div class="form-label-group">
              <label for="inputDescription">Opis - obavezno</label>
              <input type="text" id="inputDescription" class="form-control" placeholder="Opis" formControlName="description"
                required>
            </div>
              <label for="inputOib">OIB - obavezno</label>
              <input type="text" id="inputOib" class="form-control" placeholder="OIB poduzeća"
                formControlName="oib" required autofocus>
            </div>
            <div class="form-label-group mb-4">
              <label for="inputOwnerOib">OIB vlasnika - obavezno</label>
              <input type="text" id="inputOwnerOib" class="form-control" formControlName="ownerOib" required
              placeholder="OIB vlasnika">
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
              [disabled]="!clubForm.valid">Registracija prostora</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
