<div class="container-fluid">
  <div *ngIf="!userService.isUserLoggedIn()" style="text-align: center">
    <h1 class="display-4 pt-5">Dobrodošli u Rezervator!</h1>
    <app-log-in></app-log-in>
  </div>
</div>
<div *ngIf="userService.isUserLoggedIn()">
  <div>
    <app-event></app-event>
  </div>
</div>
